* {
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

#calloustBlocks .previous,
#calloustBlocks .next {
    display: none;
}

#amazingTwits .previous,
#amazingTwits .next {
    display: none;
}

h3 {
    font-size: 44px;
}

h2 {
    font-size: 72px;
    /*72px*/
    text-align: center;
}

h4 {
    font-size: 32px;
}

.bodyOtherText {
    font-size: 20px;
    font-weight: lighter;
}

h5 {
    font-size: 24px;
    font-weight: normal;
}

#burger {
    display: none;
}

.burger-cont {
    position: fixed;
    width: 100%;
    top: 55px;
    text-align: center;
    background-color: rgb(24, 27, 32);
    display: none;
    flex-direction: column;
}

.burger-cont a {
    margin: 10px;
    color: white;
    font-weight: normal;
    font-size: 17px;
}

.dis-none {
    display: none;
}

#header h2 {
    font-size: 24px;
}


#header {
    padding-top: 0.5%;
    background-color: 232730;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    padding-bottom: 0.5%;
}

head {
    width: 100%;
    position: absolute;
    top: 0%;
}

.headerText {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-top: 0.3%;
}

/*#header h3 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 20px;
}*/

#header a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 20px;
}

#headerBut {
    width: 185px;
    display: flex;
    justify-content: space-between;
}

#LogIn {
    margin-bottom: 5%;
    padding: 10px;
    border: 0px;
    background-color: 36404C;
    color: white;
    border-radius: 25px;
    width: 85px;
}

#SignUp {
    width: 85px;
    margin-bottom: 5%;
    padding: 10px;
    padding-right: 2%;
    padding-left: 2%;
    background-color: 56B5C1;
    border: 0px;
    border-radius: 25px;
    color: black;
}

body {
    background-color: 181f27;
    /*min-width: 1900px;*/
}

h1 {
    font-size: 90px;
    font-weight: normal;
}

#bodyHeadH1 {
    margin-top: 4%;
    margin-left: 5%;
}

#bodyHeadH4 {
    font-weight: lighter;
    font-size: 22px;
    margin-left: 5%;
    margin-top: 0.7%;
}

#GetStarted {
    border: 0px;
    color: black;
    background-color: white;
    font-size: 22px;
    padding: 12px;
    font-weight: bolder;
    border-radius: 38px;
    margin-top: 2%;
    margin-left: 5%;
}

.telephone {
    position: absolute;
    right: 2%;
    top: 15%;
    width: 40%;
    order: 1;
}

#group20 {
    width: 20%;
    z-index: 1;
    top: 9%;
    right: 12%;
}

#bgBodyHead {
    border-radius: 55% 0px 0px 100%;
    z-index: -1;
    position: absolute;
    right: 0%;
    top: 8%;
    width: 50%;
    height: 70%;
    background: linear-gradient(to right, #816fb8, rgb(0, 153, 255));
    /*#816fb8-3cacb8;*/
}

#NeDoVisual {
    margin-top: 11%;
    margin-left: 30%;
    width: 40%;
}

#Products {
    margin-top: 5%;
    width: 100%;
}

#Products h2 {
    text-align: center;
    font-size: 72pt;
}

#vidileno1 {
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    background-color: rgb(0, 146, 255);
    box-shadow: 0px 0px 20px 1px rgb(0, 146, 255);
    color: black;
    border-radius: 10px;
}

#vidileno2 {
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    color: black;
    background-color: rgb(255, 154, 136);
    box-shadow: 0px 0px 20px 1px rgb(255, 154, 136);
    border-radius: 10px;
}

#vidileno3 {
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    color: black;
    background-color: rgb(175, 91, 252);
    box-shadow: 0px 0px 20px 1px rgb(175, 91, 252);
    border-radius: 10px;
}

#Payments {
    margin-left: 6%;
    margin-right: 1%;
    margin-top: 2%;
    padding-bottom: 1.5%;
}

#Payments img {
    margin-top: 3%;
    width: 35%;
}

#Chat {
    margin-left: 6%;
    margin-top: 1.5%;
}

#Manage {
    padding-right: 1%;
    margin-top: 2%;
}

#Manage img {
    margin-left: 15%;
    margin-top: 2%;
    width: 70%;
}

#Chat img {
    padding-top: 1%;
    margin-left: 29%;
    width: 71%;
}

.Produ {
    background-color: 202a36;
    width: 40%;
    padding-left: 1.5%;
    padding-top: 1.5%;
    border-radius: 7px;
}

#Prod {
    display: flex;
}

.Produ h3 {
    display: inline-block;
}

#HIWF {
    margin-top: 5%;
}

.HIWFbut {
    margin-top: 1%;
    width: 10%;
    height: 5%;
}

#butGroupCreators {
    border-radius: 5px;
    margin-left: 39%;
    background-color: rgb(175, 91, 252);
    color: black;
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin-right: 2%;
    width: 185px;
    height: 48px;
    box-shadow: 0px 0px 20px 1px rgb(175, 91, 252);

}


.Punktsh6 {
    display: none;
}

#butGroupMembers {
    color: white;
    background-color: black;
    font-size: 22px;
    font-weight: bold;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    width: 185px;
    height: 48px;
    margin-bottom: 10px;
}

#Punkts {
    margin-left: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#CreateText {
    color: white;
}

#Punkts h4 {
    margin-top: 2%;
    margin-left: 3.5%;
}

#Punkts h6 {
    margin-left: 11.4%;
}



.Punkts {
    display: flex;
    margin-top: 2%;
}

.Punkts img {
    width: 60px;
}

#GroupInfo {
    background-color: rgb(30, 40, 52);
    border-width: 1px;
    border-radius: 15px 15px 15px 15px;
    width: 40%;
    height: 200px;
    margin-right: 10%;
    padding: 3%;
    display: inline-block;
    margin-left: 2%;
    border: solid;
    border-width: 1px;
    border-color: gray;
}

#GroupInfo h4 {
    color: a7b1bb;
}

#HIWFdivs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2%;
}

.TextGroupInfo {
    color: 96a0aa;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.inputInfo {
    color: 2e3a48;
    width: 70%;
    height: 30px;
    background-color: rgb(46, 58, 72);
    border-style: none;
    border-radius: 7px;
    padding: 1%;
    font-size: 17px;
    color: 96a0aa;
    margin-top: 20px;
    padding-left: 10px;
    margin-right: 30%;
}

#NadSSulka {
    margin-bottom: 10px;
}

#ssulkaGroupInfo {
    margin-left: 0%;
    color: rgb(144, 144, 144);
    font-size: 15px;
    margin-left: 50px;
}

#CYGN {
    margin-top: 2.5%;
    background: linear-gradient(to right, #634862, rgb(47, 47, 47));
    padding: 5%;
    display: flex;
    justify-content: space-around;
}

#YourGroupName {
    background-color: rgb(24, 31, 39);
    width: 25%;
    padding: 5%;
    border-radius: 50px;
}

#YourGroupName h5 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
}

#DogYourName {
    color: rgb(82, 172, 183);
    font-size: 14px;
}

#butCreatGroup {
    background-color: rgb(194, 193, 225);
    color: black;
    margin-top: 5%;
    padding: 2%;
    width: 130px;
    height: 35px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: normal;
    border: none;
    padding-top: 1.5%;
    padding-bottom: 2%;
    margin-top: 20px;
}

#CreateYourGroupNow {
    align-self: center;
    margin-left: 5%;
}

#CreateYourGrouph4 {
    font-size: 50px;
    font-style: normal;
    color: rgb(167, 177, 187);
    font-weight: bolder;
}

#CreateYourGroupNow .bodyOtherText {
    margin-left: 0.5%;
}

#callout {
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: space-around;
    padding-top: 3.5%;
}

.calloutDivs {
    border: solid;
    border-color: grey;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2%;
    margin-top: 2%;
    border-radius: 15px;
}

#calloustBlocks {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.calloutDivs img {
    width: 15%;
}

.divBlockCallout {
    display: flex;
    justify-content: space-around;
}

#features {
    margin-top: 2%;
}

#features a {
    font-size: 13px;
    margin-top: 5%;
    margin-bottom: 1%;
    width: 100%;
}

#features h2 {
    text-align: left;
    line-height: 0.82;
    margin-bottom: 5%;
}

#butFlexibleSub {
    margin-top: 5%;
    background-color: rgb(0, 146, 255);
    border: none;
    width: 180px;
    height: 41px;
    font-size: 17px;
    font-weight: bolder;
    box-shadow: 0px 0px 20px 1px rgb(0, 146, 255);
    color: black;
    border-radius: 5px;
}

#butFlexibleGroup {
    background-color: rgb(0, 0, 0);
    margin-top: 5%;
    border: solid;
    border-width: 1px;
    width: 180px;
    height: 41px;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 2%;
    border-radius: 5px;
}

#import img {
    width: 90%;
}

#import {
    background-color: rgb(32, 42, 54);
    margin-top: 5%;
    width: 86%;
    justify-content: space-around;
    padding: 7%;
    display: flex;
}

#importText {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100%;
    margin-left: 7%;
}

#import h4 {
    margin-top: 3%;
    margin-bottom: 8%;
}

#import h3 {
    font-size: 48px;
}

#import h5 {
    font-weight: lighter;
    font-size: 15px;
}

#amazing {
    padding: 5%;
}

.twitsDiv {
    border: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 15px;
    width: 30%;
    padding: 1%;
}

#amazingTwits {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.twitTop {
    display: flex;
}

#FIO {
    margin-left: 3%;
}

#FIO h6 {
    font-size: 19px;
    font-weight: lighter;
}

.twitsDiv h4 {
    margin-top: 2%;
    margin-bottom: 2%;
}

#twiter {
    display: flex;
    margin-top: 2%;
}

#twiter img {
    width: 6%;
    height: 6%;
}

#twiter h3 {
    color: rgb(13, 153, 255);
    font-size: 20px;
    margin-left: 1%;
    font-weight: normal;
}

#logo2 {
    width: 50%;
}

#bodyFooter {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(24, 27, 32);
    padding: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#StartNow {
    display: flex;
    flex-direction: column;
}

#StartNow h2 {
    text-align: left;
}

#logo1 {
    width: 350px;
}

#StartNow input {
    margin-top: 4%;
    margin-bottom: 4%;
}

#StartNow button {
    background-color: rgb(86, 181, 193);
    border: none;
    width: 125px;
    height: 40px;
    margin-left: 5%;
    border-radius: 30px;
    font-size: 18px;
    color: black;
    font-weight: normal;
}

footer a {
    font-size: 14pt;
    font-weight: lighter;
    margin-top: 5%;
    color: rgb(150, 160, 171);
}

footer {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 1%;
}

footer h3 {
    font-size: 14pt;
    font-weight: bolder;
}

#footMember h3 {
    font-size: 20pt;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 5%;
    margin-left: 5%;
}

#footMember {
    margin-right: 25%;
}

#footMember div {
    display: flex;
    justify-content: space-evenly;
}

#footerTop {
    display: flex;
    justify-content: space-around;
}

#footerBot {
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2.5%;
}

#footerBot img {
    width: 10%;
    height: 5%;
    margin-top: 3.7%;
}

.headerText a:hover {
    color: rgb(62, 215, 235);
    transition-timing-function: linear;
    transition-duration: 200ms;
    font-size: 22px;
    text-shadow: 1px -1px 1px white;
    /*background-color: #5488af;*/
}

.headerText a:not(:hover) {
    transition-timing-function: linear;
    transition-duration: 200ms;
}

#LogIn:hover {
    cursor: pointer;
    color: rgb(62, 215, 235);
    background-color: rgb(31, 36, 42);
    transition-timing-function: linear;
    transition-duration: 200ms;
    box-shadow: 0px 0px 20px 1px rgb(31, 36, 42);
}

#LogIn:not(:hover) {
    transition-timing-function: linear;
    transition-duration: 200ms;
}

#SignUp:hover {
    background-color: rgb(127, 112, 185);
    color: rgb(50, 39, 60);
    transition-timing-function: linear;
    transition-duration: 200ms;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px rgb(127, 112, 185);
}

#SignUp:not(:hover) {
    transition-timing-function: linear;
    transition-duration: 200ms;
}

#GetStarted:hover {
    transition-timing-function: linear;
    transition-duration: 200ms;
    background-color: rgb(62, 215, 235);
    cursor: pointer;
    color: rgb(50, 39, 60);
    box-shadow: 0px 0px 20px 1px rgb(62, 215, 235);
}

#GetStarted:not(:hover) {
    transition-timing-function: linear;
    transition-duration: 200ms;

}

#butGroupCreators:hover {
    transition-timing-function: linear;
    transition-duration: 200ms;
    cursor: pointer;
    background-color: rgb(252, 91, 161);
    box-shadow: 0px 0px 20px 1px rgb(252, 91, 161);
    color: rgb(50, 39, 60);
}

#butGroupCreators:not(:hover) {
    transition-timing-function: linear;
    transition-duration: 200ms;
}

#butGroupMembers:hover {
    transition-timing-function: linear;
    transition-duration: 200ms;
    border-width: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px white;
}

#butGroupMembers:not(:hover) {
    transition-timing-function: linear;
    transition-duration: 200ms;
}

#ssulkaGroupInfo:hover {
    transition-timing-function: linear;
    transition-duration: 200ms;
    color: gray;
    /*text-shadow: 1px -0.5px 1px white;*/
}

#ssulkaGroupInfo:not(:hover) {
    transition-timing-function: linear;
    transition-duration: 200ms;
}

#butCreatGroup:hover {
    transition-timing-function: linear;
    transition-duration: 200ms;
    background-color: rgb(62, 215, 235);
    cursor: pointer;
    color: rgb(50, 39, 60);
    box-shadow: 0px 0px 20px 1px rgb(62, 215, 235);
}

#butCreatGroup:not(:hover) {
    transition-timing-function: linear;
    transition-duration: 200ms;
}

#features a:hover {
    transition-timing-function: linear;
    transition-duration: 200ms;
    cursor: pointer;
    color: rgb(62, 215, 235);
}

#features a:not(:hover) {
    transition-timing-function: linear;
    transition-duration: 200ms;
}

#butFlexibleSub:hover {
    transition-timing-function: linear;
    transition-duration: 200ms;
    background-color: rgb(175, 91, 252);
    box-shadow: 0px 0px 20px 1px rgb(175, 91, 252);
    cursor: pointer;
    color: rgb(50, 39, 60);
}

#butFlexibleSub:not(:hover) {
    transition-timing-function: linear;
    transition-duration: 200ms;
}

#butFlexibleGroup:hover {
    transition-timing-function: linear;
    transition-duration: 200ms;
    border-width: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px white;
}

#butFlexibleGroup:not(:hover) {
    transition-timing-function: linear;
    transition-duration: 200ms;
}

#importText h5:hover {
    transition-timing-function: linear;
    transition-duration: 200ms;
    cursor: pointer;
    color: rgb(62, 215, 235);
}

#importText h5:not(:hover) {
    transition-timing-function: linear;
    transition-duration: 200ms;
}

#StartNow button:hover {
    transition-timing-function: linear;
    transition-duration: 200ms;
    background-color: rgb(175, 91, 252);
    box-shadow: 0px 0px 20px 1px rgb(175, 91, 252);
    cursor: pointer;
    color: rgb(50, 39, 60);
}

#StartNow button:not(:hover) {
    transition-timing-function: linear;
    transition-duration: 200ms;
}

footer a:hover {
    transition-timing-function: linear;
    transition-duration: 200ms;
    color: white;
    text-shadow: 1px -1px 1px white;
}

footer a:not(:hover) {
    transition-timing-function: linear;
    transition-duration: 200ms;
}

/*750 px
.Produ display: block;*/
/*                                                                              @Media*/

@media (max-width:1024px) {
    #Prod {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #Products {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Produ {
        width: 75%;
        padding: 0%;
        padding-left: 5%;
        padding-top: 5%;
        padding-right: 10%;
        margin-left: 0 !important;
        /*!important*/
    }

    #Manage {
        padding-right: 10%;
        margin-top: 1.5%;
    }
}

@media (max-width:1024px) {

    #burger {
        display: block;
        margin-right: 2%;
    }

    #burger img {
        display: block;
        width: 40px;
        height: 40px;
    }

    .burger-cont {
        display: flex;
    }

    .headerText {
        display: none;
    }

    .burgerIco {
        position: absolute;
        display: block;
        width: 35px;
        height: 6px;
        border-radius: 10px;
        background-color: white;
    }

    .burgerOpen_Text {
        display: block;
        position: fixed;
        top: 60px;
        right: 5px;
        height: 5%;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgb(101, 101, 101);
        padding-bottom: 45px;
        align-items: center;
    }

    #burgerOpen_But {
        align-items: center;
        display: block;
        position: fixed;
        top: 138px;
        right: 5px;
        height: 5%;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgb(101, 101, 101);
        padding-bottom: 45px;
        padding-left: 20px;
        padding-bottom: 55px;
    }

    #burgerOpen_But button {
        margin-right: 19px;
    }

    .burgerIco:nth-child(1) {
        top: 11px;
    }

    .burgerIco:nth-child(2) {
        top: 22px
    }

    .burgerIco:nth-child(3) {
        top: 33px;
    }

    #headerBut {
        display: none;
    }

    #Products h2 {
        font-size: 48px;
    }

    .telephone {
        display: none;
    }

    #bgBodyHead {
        display: none;
    }

    h1 {
        font-size: 50px;
        text-align: center;
    }

    h3 {
        font-size: 30px;
    }

    h2 {
        font-size: 48px;
        /*72px*/
        text-align: center;
    }

    h4 {
        font-size: 26px;
    }

    .bodyOtherText {
        font-size: 20px;
        font-weight: lighter;
    }

    #CreateYourGrouph4 {
        font-size: 26px;
        text-align: center;
    }

    #bodyHeadH4 {
        text-align: center;
    }

    #bodyHead {
        text-align: center;
    }

    .headerText a {
        font-size: 18px;
        display: none;
    }

    .Produ {
        width: 75%;
        margin-right: 0px !important;
        margin-left: 6%;
        padding: 0%;
        margin-top: 20px !important;
        padding-left: 9%;
        padding-top: 5%;
        padding-right: 10%;
        padding-bottom: 5% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    #DogYourName {
        margin-top: 15px;
    }

    .twitsDiv hr {
        margin-bottom: 12px;
        margin-top: 12px;
    }

    #Prod img {
        margin-top: 30px;
        width: 50%;
        display: none;
    }



    #Chat img {
        display: none;
    }

    #Manage img {
        width: 70%;
    }

    #Manage {
        padding-right: 10%;
        margin-top: 1.5%;
    }

    #butGroupCreators {
        margin: 0px;
        margin-left: 7%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #HIWFdivs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #amazingTwits {
        flex-direction: column;
        align-items: center;
    }

    #amazingTwits .previous,
    #amazingTwits .next {
        display: block;
        cursor: pointer;
        position: absolute;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        background-color: rgba(0, 0, 0, 0.2);
        padding-bottom: 200px;
        margin-top: 20px;
        opacity: 0%;
    }

    #calloustBlocks .previous,
    #calloustBlocks .next {
        display: block;
        cursor: pointer;
        position: absolute;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        background-color: rgba(0, 0, 0, 0.2);
        padding-bottom: 200px;
        margin-top: 20px;
        opacity: 0%;
    }

    #calloutFirst {
        display: block;
    }

    .calloutDivs {
        display: none;
    }

    #calloustBlocks .next {
        right: 1%;
        border-radius: 3px 0 0 3px;
    }

    #calloustBlocks .previous {
        left: 1%;
    }

    #calloustBlocks .previous:hover,
    #calloustBlocks .next:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    #calloustBlocks .twitsDiv {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: 0.4
        }

        to {
            opacity: 1
        }
    }

    #amazingTwits .next {
        right: 1%;
        border-radius: 3px 0 0 3px;
    }

    #amazingTwits .previous {
        left: 1%;
    }

    #amazingTwits .previous:hover,
    #amazingTwits .next:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    #twitDiv3 {
        display: none;
    }

    #amazingTwits .twitsDiv {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: 0.4
        }

        to {
            opacity: 1
        }
    }

    .twitsDiv {
        width: 88%;
        margin-top: 20px;
        padding: 6%;
    }

    #twiter img {
        width: 31px;
        height: 25px;
        margin-right: 5px;
    }

    #import {
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 11%;
    }

    #import img {
        width: 104%;
        margin-top: 5%;
    }

    .divBlockCallout {
        flex-direction: column;
        align-items: center;
    }

    #callout {
        flex-direction: column;
        align-items: center;
        padding-bottom: 7%;
        padding-top: 7%;
    }

    .calloutDivs {
        width: 100%;
        margin-top: 25px;
        padding: 5%;
    }

    #features {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #CYGN {
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 10%;
        padding-top: 7%;
    }

    #YourGroupName {
        width: 80%;
        margin-top: 5%;
        padding: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #bodyFooter {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        padding-top: 8%;
    }

    #StartNow h2 {
        text-align: center;
        width: 100%;
        margin-left: 0%;
        margin-bottom: 10%;
    }

    #StartNow h5 {
        margin-top: 20px;
    }

    #StartNow .inputInfo {
        width: 90%;
    }

    #logo2 {
        width: 90%;
        margin-left: 5%;
    }

    #logo1 {
        width: 80%;
    }

    #butFlexibleGroup {
        display: inline-block;
    }

    #butFlexibleSub {
        display: inline-block;
        padding-left: 2%;
        padding-right: 2%;
    }

    #GroupInfo {
        width: 83%;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 9%;
        height: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #GroupInfo h4 {
        text-align: center;
    }

    .inputInfo {
        width: 100%;
        margin-right: 0px;
    }

    #HIWF {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 7%;
    }

    #butGroupCreators {
        margin-left: 0px;
    }

    #features h2 {
        text-align: center;
    }

    #features a {
        text-align: center;
        margin-top: 0px;
    }

    #StartNow div {
        display: flex;
        align-items: center;
        width: 90%;
        margin-left: 5%;
    }

    #Punkts {
        width: 90%;
        margin-left: 0px;
        margin-left: 1%;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footerTop {
        flex-direction: column;
    }

    #footerBot {
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }

    #footerBot a {
        font-size: 11pt;
    }

    #importText {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0px;
    }

    #butFlexibleGroup {
        margin-left: 0px;
    }

    #bodyHeadH1 {
        margin-left: 0px;
        margin-bottom: 12px;
    }

    #bodyHeadH4 {
        margin-left: 0px;
        width: 90%;
    }

    #GetStarted {
        margin-left: 0px;
        margin-top: 25px;
    }

    #bodyHead {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15%;
        ;
    }

    #NeDoVisual {
        width: 90%;
        
        margin-left: 5%;
        margin-top: 25px;
    }

    #CYGN .bodyOtherText {
        text-align: center;
        margin-left: 0px;
    }

    footer h3 {
        margin-top: 50px;
    }

    footer img {
        display: none;
    }

    footer {
        text-align: center;
        padding-bottom: 25px;
    }

    #footMember {
        margin-right: 0px;
    }

    #header {
        padding: 2%;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    #header {
        padding: 2%;
        position: fixed;
        width: 90%;
        align-items: center;
    }

    #vidileno1 {
        padding: 2%;
        padding-left: 3%;
        padding-right: 3%;
        margin-right: 0px;
    }

    #vidileno2 {
        padding: 2%;
        padding-left: 3%;
        padding-right: 3%;
        margin-right: 0px;
    }

    #vidileno3 {
        padding: 2%;
        padding-left: 3%;
        padding-right: 3%;
        margin-right: 0px;
    }

    #ssulkaGroupInfo {
        margin-left: 1px;
    }

    #StartNow button {
        padding: 2%;
        width: 150px;
        margin-left: 27%;
    }

    #amazing {
        padding-top: 8%;
        padding-bottom: 9%;
    }

    #StartNow input {
        display: none;
    }
    #YourGroupName h5{
        text-align: center;
    }
}